/*#svgbt {
  width: 100px;
  height: 100px;
}*/

.circle50 {
  cx: 50;
  cy: 50;
  r: 50;
  /* fill: #dfac20;
  stroke: #3983ab;
  stroke-width: 2;*/
}

.inactive {
  filter: grayscale(0.5) blur(10px);
}

.mysvg {
  fill: #76dff0;
  stroke: #3983ab;
  stroke-width: 2;
  max-width: 100; /* ignored by svg itself! */
  max-height: 100; /* ignored by svg itself! */
  width: 100; /* ignored by svg itself! */
  height: 100; /* ignored by svg itself! */
}

.mycircle {
  fill: beige;
  stroke-width: 8;
  stroke: #3983ab;
}
